<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory</title>
    <link rel="stylesheet" href="/output.css" />
  </head>
  <body class="bg-[var(--base-white)] text-[var(--base-black)]">
    <%- include('../partials/header') %>
    <main class="container flex flex-col gap-8 mx-auto px-15 mt-16"></main>
  </body>
</html>
