<header
  class="container flex flex-col bg-[var(--primary-clr)] gap-24 mx-auto px-15 py-6"
>
  <nav class="flex justify-between items-center">
    <div class="">
      <p class="text-2xl text-[var(--base-white)] font-bold">
        Shef's <span class="text-[var(--base-black)]">Bin</span>
      </p>
    </div>
    <ul class="flex gap-8">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="">Categories</a>
      </li>
      <li>
        <a href="/inventory">Inventory</a>
      </li>
      <li>
        <a href="/log">Recent Activity</a>
      </li>
    </ul>
  </nav>
</header>
